---
import Pills from "./Pills.astro";
import { getPostUrl } from "@lib/scripts/resolve-url";
import type { Post } from "@lib/types/Post";

interface Props {
	item: Post;
}

const { item } = Astro.props;
const inf = item.frontmatter;
---

<li>
	<a href={getPostUrl(item)} data-test={getPostUrl(item, { onlyEnds: true })}>
		<figure>
			<figcaption>
				<Pills list={inf.tags} />
				<h2>{inf.title}</h2>
				<time class="date">{inf.published}</time>
				<p>{inf.description}</p>
			</figcaption>
			<img src={inf.cover.url} alt={inf.cover.alt} loading="lazy" />
		</figure>
	</a>
</li>

<style lang="scss">
	@use "src/lib/styles-addn/vars" as v;
	@use "src/lib/styles-addn/func" as f;
	@use "src/lib/styles-addn/keyframes" as k;
	@include k.add-bobble();
	@include k.restore-bobble();

	li {
		box-sizing: border-box;
		height: 100%;
		margin: 1.25rem !important;
		padding: 0;

		width: calc(33% - 40px);

		& > a {
			text-decoration: none;
			color: var(--elementary);

			&:focus,
			&:focus-visible {
				outline: none;
			}

			&:not(.static):hover,
			&:not(.static):focus,
			&:not(.static):focus-visible {
				figure {
					animation: shrink 1s linear both;
				}
			}
		}

		&:not(.static):hover,
		&:not(.static):focus,
		&:not(.static):focus-visible {
			outline: none;
			figure {
				animation: shrink 1s linear both;
			}
		}
	}

	@include f.mq(xl, max) {
		li {
			width: calc(50% - 40px);
		}
	}

	@include f.mq(lg, max) {
		li {
			width: 100%;
			margin: 15px 0 !important;
		}
	}

	figure {
		@include f.flex(column);
		@include f.box(calc(100% - 2px));

		box-sizing: border-box;
		margin: 0;
		background-color: var(--background-lite);

		border-radius: 1rem;

		&:not(.static) {
			@include k.add-bobble();
			animation: restore 1s linear both;
		}

		& figcaption {
			padding: 1.5rem 1.25rem 0 1.25rem;
		}

		& img {
			@include f.box(100%);
			aspect-ratio: 16/9;
			border-radius: 0 0 1rem 1rem;
		}
	}

	h2 {
		margin: 1rem 0 0.5rem 0;
		font-family: v.$titan;
		letter-spacing: 0.75px;
	}

	p {
		margin: 0.5rem 0 1rem 0;
		font-family: v.$sans-serif;
		font-size: v.$font--1;
		line-height: normal;
	}

	time {
		font-family: v.$mono;
		font-size: 0.85rem;
	}

	@media (prefers-reduced-motion) {
		li,
		figure {
			animation: none !important;
		}
	}
</style>
