---
export interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta http-equiv="Accept-CH" content="DPR, Width" />
		<link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.gif" />
		<slot name="SEO" />
		<title>{title}</title>
	</head>
	<body>
		<slot />
		<style lang="sass" is:global>
			@use "src/lib/util/reset"
			@use "src/lib/util/func" as f
			@use "src/lib/util/vars" as v

			:root
				--elementary: #{v.$black}
				--elementary-lite: #{v.$faded-black}
				--anti-elementary: #{v.$white}
				--foreground: #{v.$cyan}
				--background: #{v.$light-cyan}
				--background-lite: #{v.$lightest-cyan}

			html.dark
				--elementary: #{v.$white}
				--elementary-lite: #{v.$faded-white}
				--anti-elementary: #{v.$black}
				--foreground: #{v.$light-purple}
				--background: #{v.$dark-purple}
				--background-lite: #{v.$purple}

			@font-face
				font-family: Titan
				src: url("/TitanOne-Regular.ttf") format("truetype")

			body
				+f.flex(column, flex-start, center)
				background-color: var(--background)

				& *
					font-family: v.$sans-serif
					font-size: v.$font--1
					line-height: normal
					color: var(--elementary)
		</style>
	</body>
</html>
